@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

$mdDarkColor: #1d1d1d;
$darkColor: #171717;
$lightDarkColor: #292929;
$yellowColor: #d4aa11;
$fontFamily: "Inter", sans-serif;

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
}

.wrapper {
  min-height: 100vh;
  background-color: $darkColor;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

.search {
  &__container {
    background-color: $mdDarkColor;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__element {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
    h3 {
      align-self: center;
      margin-right: 1rem;
      font-size: 2rem;
      color: #fff;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
    &--list {
      position: absolute;
      right: 0;
      top: 100%;
      max-height: 500px;
      overflow-y: scroll;
      z-index: 10;
    }
  }
  &__element,
  &__element--control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: $lightDarkColor;
    width: 350px;
  }
}

.logo {
  padding: 1rem 0;
  border-bottom: 2rem solid $lightDarkColor;
  p {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    span {
      color: $yellowColor;
    }
  }
}
